html {
  font-family: "Roboto", sans-serif;
}

#champion {
  background-image: var(--background-splash-image);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}

@media (max-width: 420px) {
  #champion {
    background-image: var(--background-loading-image);
  }
}

#champion-container {
  background-color: rgba(0, 0, 0, 0.8);
}

.champion-tags span {
  font-size: 1rem;
  color: rgb(137, 145, 182);
}

.champion-tags img {
  width: 1.3rem;
  filter: brightness(0) saturate(100%) invert(80%) sepia(44%) saturate(341%)
    hue-rotate(2deg) brightness(89%) contrast(91%);
}

.text-light {
  color: rgb(172, 172, 172) !important;
}

/* === Title ===== */
.title {
  font-size: 2em;
  position: relative;
  color: white;
  font-family: Times, Times New Roman, serif;
  padding: 0 1em;
}

.title::before,
.title::after {
  display: inline-block;
  content: "";
  border-top: 0.1rem solid white;
  margin: 0 1rem;
  transform: translateY(-1rem);
}

.title::before {
  width: 2em;
}

.title::after {
  width: 25em;
}

@media (max-width: 1317px) {
  .title::after {
    width: 15em;
  }
}

@media (max-width: 999px) {
  .title {
    font-size: 1.4em;
    padding: 0;
  }
  .title::before {
    width: 1em;
  }
  .title::after {
    width: 13em;
  }
}

@media (max-width: 420px) {
  .title::after {
    width: 8em;
  }
}

@media (max-width: 360px) {
  .title::after {
    width: 8em;
  }
}

/* === End Title ===== */

/* =========== Hero =============== */
.details-hero-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  height: 780px;
  -moz-box-shadow: inset 0px -850px 500px -500px rgb(0, 0, 0);
  -webkit-box-shadow: inset 0px -850px 500px -500px rgb(0, 0, 0);
  -o-box-shadow: inset 0px -850px 500px -500px rgb(0, 0, 0);
  box-shadow: inset 0px -850px 500px -500px rgb(0, 0, 0);
}

.set-bg {
  background-image: var(--background-splash-image);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: top center;
}

@media (max-width: 420px) {
  .set-bg {
    background-image: var(--background-loading-image);
    background-position: center;
  }
}

.details-hero-text {
  background-color: rgba(0, 0, 0, 0.5);
  padding: 20px;
  color: rgb(255, 255, 255);
  transform: skew(20deg);
  min-width: 600px;
  border: 1px solid rgb(102, 102, 0);
}

.details-hero-text .details-hero-text-containt {
  transform: skew(-20deg);
  padding: 20px;
}

.details-hero-text .details-hero-text-containt h1 {
  color: #ffc400;
}

.details-hero-text .details-hero-text-containt h1 span {
  font-size: 20px;
  color: rgb(231, 231, 231);
}

@media (max-width: 950px) {
  .details-hero-text {
    transform: none;
    min-width: 0;
  }

  .details-hero-text .details-hero-text-containt {
    transform: none;
  }
}

/* ================ End Hero ================ */

/* ================ Champion Info ============ */
.champion-info-container {
  -moz-box-shadow: inset 0px 850px 500px -500px rgb(0, 0, 0);
  -webkit-box-shadow: inset 0px 850px 500px -500px rgb(0, 0, 0);
  -o-box-shadow: inset 0px 850px 500px -500px rgb(0, 0, 0);
  box-shadow: inset 0px 850px 500px -500px rgb(0, 0, 0);
  margin-bottom: 10em;
}

#chart {
  width: 600px;
  height: 400px;
  padding: 20px;
}

.champion-info span {
  font-weight: bold;
  font-size: 0.8em;
}

.champion-info hr {
  margin: 2px 0 4px 0;
}

.champion-stats {
  border: 1px solid #b48a01;
}

.champion-stats td {
  padding: 10px 20px;
  color: rgb(209, 209, 209);
}

.champion-info-lore {
  max-width: 70em;
  min-width: 30em;
  padding: 20px;
}

.champion-info p {
  color: rgb(190, 188, 188);
  margin-left: 15px;
}

.champion-info-details-sm {
  margin: 10px;
  padding: 15px;
  border: 1px solid #b48a01;
  border-radius: 5px;
  max-width: 40em;
  min-width: 28em;
  transform: skew(20deg);
  transition: ease-in-out 0.5s;
}

@media (max-width: 420px) {
  .champion-info-lore,
  .champion-info-details-sm {
    max-width: auto;
    min-width: auto;
  }
}

.champion-info-details-sm li {
  font-size: 0.9em;
  margin: 5px 0;
  color: rgb(177, 177, 177);
}

.champion-info-allytips,
.champion-info-enemytips {
  transform: skew(-20deg);
  padding: 20px;
}

@media (max-width: 1452px) {
  .champion-info-allytips,
  .champion-info-enemytips,
  .champion-info-details-sm {
    transform: none;
  }
}

/* ============== End Champion Info ================== */

/* ============== Champion Skill Info ================ */

.champion-skills-container {
  padding: 30px 20px;
  display: flex;
  height: 90vh;
  color: white;
}

.chapion-spotlight iframe {
  margin-top: 5em;
  width: 60vw;
  height: 65vh;
}

.champion-skills-infomation {
  padding: 20px;
  overflow-y: scroll;
}

.champion-skills-infomation::-webkit-scrollbar {
  width: 10px;
}

.champion-skills-infomation::-webkit-scrollbar-track {
  background-color: transparent;
}

.champion-skills-infomation::-webkit-scrollbar-thumb {
  box-shadow: inset 10px 10px 6px rgba(0, 174, 255, 0.3);
  border-radius: 5px;
}

@media (max-width: 1452px) {
  .champion-skills-container {
    display: block;
    height: auto;
  }

  .chapion-spotlight iframe {
    margin: 0 0 0 3vw;
    width: 90vw;
    height: 90vh;
  }
}

@media (max-width: 1363px) {
  .chapion-spotlight iframe {
    margin: 0;
    width: auto;
    height: auto;
  }
}

@media (max-width: 280px) {
  .chapion-spotlight iframe {
    display: none;
  }
}

/* ============== End Champion Skill Info ================ */

/* ============== Champion Skins ================ */

.champion-skins-container {
  margin-top: 10vh;
  padding: 0 20px;
}
.champion-skins-element {
  padding: 20px 10px;
}

.swiper-slide {
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  overflow: hidden;

  color: rgb(212, 212, 212);

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

/* .champion-skin-video {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
} */

.swiper-slide .swiper-info {
  position: absolute;
  z-index: 990 !important;
  transform: skew(20deg);
  border: 1px solid rgb(102, 102, 0);
  border-radius: 10px;
  padding: 10px 20px;
  background-color: rgba(0, 0, 0, 0.8);
  cursor: pointer;
  transition: transform 0.7s;
}

.swiper-slide .swiper-info .swiper-image-title-content {
  transform: skew(-20deg);
}

.swiper-slide .swiper-info .swiper-image-title-content h2 {
  font-family: Times, Times New Roman, serif;
  font-size: 20px;
}

@media (max-width: 360px) {
  .swiper-slide .swiper-info {
    transform: none;
  }
  .swiper-slide .swiper-info .swiper-image-title-content {
    transform: none;
  }
  .swiper-slide .swiper-info .swiper-image-title-content h2 {
    font-size: 15px;
  }
}

@media (max-width: 280px) {
  .swiper-slide .swiper-info {
    display: none;
  }
}

.swiper-slide img {
  width: 100%;
}

.skin-slide-splash-img {
  display: block;
}

.skin-slide-loading-img {
  display: none;
}

@media (max-width: 560px) {
  .skin-slide-splash-img {
    display: none;
  }

  .skin-slide-loading-img {
    display: block;
  }
}

.champion-skin-video iframe {
  width: 90vw;
  height: 90vh;
}

/* ============== End Champion Skins ================ */
