html {
  font-family: "Roboto", sans-serif;
}

/* ============ Champions Container ================ */

/* ==== Champion Card ======= */

.champion-card {
  margin: 0 10px;
  height: 30em;
  width: 17em;
  font-family: Times, Times New Roman, serif;
  border-radius: 0 0 20px 0;
  box-shadow: 10px 10px 15px black;
  transition: ease-in-out 0.2s;
  cursor: pointer;
  margin: 10px;
}

.champion-card:hover {
  box-shadow: none;
}

.champion-card-head {
  position: absolute;
  top: 0;
  left: 4px;
  z-index: 2;
  width: 70px;
  height: 100px;
  padding: 10px 5px 0 5px;
  box-sizing: content-box;
  position: relative;
  background: rgb(158, 158, 158);
  font-size: 11px;
  letter-spacing: 0.2em;
  text-align: center;
  text-transform: uppercase;
  border: 2px solid gold;
  border-bottom: none;
  border-top: none;
}

.champion-card-head:after,
.champion-card-head:before {
  content: "";
  position: absolute;
  top: 110px;
  left: 0;
  bottom: 0;
  width: 0;
  height: 0;
  padding: 0 3px;
  border-top: 30px solid rgb(158, 158, 158);
  border-left: 37px solid transparent;
  border-right: 37px solid transparent;
}
.champion-card-tags {
  margin: 5px 0;
}

.champion-card-tags span {
  font-size: 9px;
  color: rgb(0, 0, 0);
}

.champion-card-tags img {
  width: 1rem;
  filter: brightness(100) saturate(100%) invert(80%) sepia(44%) saturate(341%)
    hue-rotate(2deg) brightness(100%) contrast(100%);
}

.champion-card-info {
  position: relative;
  background-color: rgb(0, 0, 0);
  padding: 10px;
  height: 5em;
  color: white;
  top: 18em;
  border-radius: 0 0 20px 0;
}

.champion-card-info h3 {
  text-transform: uppercase;
  padding: 0;
  margin: 0;
  font-size: 22px;
}

.champion-card-info small {
  color: rgb(167, 167, 167);
}
/* ==== End Champion Card ====== */

/* ============= End Champions Container ================ */
