.summoner {
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
}
.summoner-container {
  display: block;
  background: rgba(0, 0, 0, 0.8);
  color: white;
}
/* ================ Summoner Infomation ================= */
.summoner-infomation-container {
  width: 100%;
}

.summoner-header-profile-icon {
  width: 12em;
  height: 12em;
  border: 5px solid #ffc400;
  border-radius: 50%;
}

.summoner-profile-banner {
  width: 11em;
  height: 11em;
  border-radius: 50%;
  background-size: cover;
  background-position: center;
}

.summoner-profile-level-container {
  height: 1px;
}

.summoner-profile-level {
  position: relative;
  border: 1px solid rgb(0, 0, 0);
  color: black;
  top: -20px;
  width: 50px;
  background-color: white;
}

.summoner-header h1 {
  font-size: 25px;
  font-weight: 700;
  font-style: italic;
  margin-top: 10px;
}

.summoner-rank img {
  width: 10em;
}

.summoner-rank span,
.summoner-rank small {
  font-style: italic;
}

.summoner-rank .summoner-rank-tier {
  font-size: 20px;
  font-weight: bold;
}

.summoner-rank small {
  color: gray;
}

/* Summoner match summory */
.summoner-match-summary h3 {
  text-transform: uppercase;
  font-size: 30px;
  letter-spacing: 0.2em;
  font-weight: 800;
  font-style: italic;
}

#summoner-match-roles-chart,
#summoner-match-lane-chart {
  width: 30em;
}
/* ================ End Summoner Infomation ================= */

/* ================ Summoner Navbar ================ */

.summoner-info-nav .nav-item {
  margin: 0 2px;
}

.summoner-info-nav .nav-item:hover {
  background-color: white;
  color: black;
}

.summoner-info-nav .nav-link {
  font-style: italic;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: rgb(255, 255, 255);
  border: 1px solid white;
  border-bottom: 1px solid black;
}

.summoner-info-nav .nav-item:hover .nav-link {
  color: black;
}

/* ================ End Summoner Navbar ================ */

/* ================ Summoner Champions Filter ============ */
#dropdownMenuButton1 {
  background-color: white;
  color: black;
}
/* ================ End Summoner Champions Filter ============ */

/* ================ Summoner Champions Container ==================== */
.summoner-champions-container {
  /* width: 100vw; */
}
/* ======= Champion Card ========== */
.summoner-champion-card {
  font-family: Times, Times New Roman, serif;
  margin: 0 10px;
  height: 30em;
  width: 17em;
  box-shadow: 10px 10px 15px rgb(0, 0, 0);
  transition: ease-in-out 0.2s;
  cursor: pointer;
  margin: 10px;
  cursor: pointer;
}
.summoner-champion-card-info-title {
  background-color: black;
  color: white;
  text-align: center;
  border-bottom: 1px solid #ffc400;
}

.summoner-champion-card-info-title span {
  font-size: 25px;
  color: #ffc400;
  margin: 0;
}

.summoner-champion-card-info-title small {
  font-size: 16px;
}

.summoner-champion-card .summoner-champion-card-info {
  padding: 0 15px;
  width: 100%;
  height: 4em;
  background-color: black;
  overflow: hidden;
  display: flex;
}

.summoner-champion-card-info-mastery-level {
  width: 15em;
  height: 12em;
  overflow: hidden;
}

.summoner-champion-card-info-mastery-level img {
  position: relative;
  top: -133px;
  left: -80px;
}

.summoner-champion-card-info-details {
  color: rgb(163, 163, 163);
  padding: 5px 0;
  width: 25em;
}
/* ======= End Champion Card =========  */

/* ================ End Summoner Champions Container ==================== */

/* ================ Summoner Match History Container ==================== */
.match-history-card {
  border: 1px solid white;
  padding: 10px;
}

.match-history-card .match-header {
  margin-right: 20px;
}

.match-history-card .match-header .match-lane {
  height: 2em;
  width: 7em;
  padding: 10px;
  margin: 10px 0;
  border-radius: 10px;
  background-color: rgb(58, 58, 58);
}

.match-history-card .match-header .match-lane img {
  height: 1em;
  width: 1em;
  border: none;
  padding: 0;
}

.match-history-card .match-header .match-lane span {
  font-size: 13px;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  font-weight: 500;
  font-style: italic;
}

.match-history-card .match-header img {
  border-radius: 50%;
  border: 1px solid #ffc400;
  width: 7em;
  height: 7em;
}

.match-history-card .match-header .match-header-level {
  width: 2em;
  height: 2em;
  border: 1px solid #ffc400;
  border-radius: 50%;
  text-align: center;
  position: relative;
  left: 80px;
  top: -30px;
  background-color: black;
}

.match-history-card .match-header .match-header-level span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
}

/* .match-history-card .match-win-lose {
  border: 1px solid white;
} */

.match-history-card .match-win-lose span {
  text-transform: uppercase;
  font-weight: bold;
  font-style: italic;
  letter-spacing: 0.2em;
  font-size: 20px;
}

.match-history-card .match-win-lose .text-win {
  color: rgb(0, 162, 255);
}

.match-history-card .match-win-lose .text-lose {
  color: rgb(189, 5, 5);
}
.match-history-card .match-win-lose .match-spells {
  margin: 10px 0;
}
.match-history-card .match-win-lose .match-spells img {
  width: 2em;
  margin: 0 3px;
}

.match-history-card .match-win-lose .match-kda span {
  font-size: 15px;
}

.match-history-card .match-win-lose .match-kda span .kda-bad {
  color: red;
}

.match-history-card .match-items {
  width: 14em;
}

.match-history-card .match-items .item {
  border: 1px solid white;
  width: 3em;
  height: 3em;
  margin: 5px;
}

.match-history-card .match-items .item img {
  border: 1px solid white;
  width: 3em;
  height: 3em;
}
/* ================ End Summoner Match History Container ==================== */
