/* ================ Summoner ChampionsContainer ==================== */

/* ======= Champion Card ========== */
.summoner-champion-card {
  font-family: Times, Times New Roman, serif;
  margin: 0 10px;
  height: 30em;
  width: 17em;
  box-shadow: 10px 10px 15px black;
  transition: ease-in-out 0.2s;
  cursor: pointer;
  margin: 10px;
}
.summoner-champion-card-info-title {
  background-color: black;
  color: white;
  text-align: center;
  border-bottom: 1px solid #ffc400;
}

.summoner-champion-card-info-title span {
  font-size: 25px;
  color: #ffc400;
  margin: 0;
}

.summoner-champion-card-info-title small {
  font-size: 16px;
}

.summoner-champion-card .summoner-champion-card-info {
  padding: 0 15px;
  width: 100%;
  height: 4em;
  background-color: black;
  overflow: hidden;
  display: flex;
}

.summoner-champion-card-info-mastery-level {
  width: 15em;
  height: 12em;
  overflow: hidden;
}

.summoner-champion-card-info-mastery-level img {
  position: relative;
  top: -133px;
  left: -80px;
}

.summoner-champion-card-info-details {
  color: rgb(163, 163, 163);
  padding: 5px 0;
  width: 25em;
}
/* ======= End Champion Card =========  */

/* ================ End Summoner Champions Container ==================== */
